<div class=" row justify-content-md-center mt-5">
    <div class="col-6 align-self-center">
        <h1>Alimentos</h1>
    </div>
    <div class="col-2 align-self-center" align="end">
        <button mat-stroked-button class="float-right" color="primary" (click)="openNewDialog()">Adicionar</button>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let alimento">{{alimento.id}}</td>
            </ng-container>
        
            <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef>Marca</th>
                <td mat-cell *matCellDef="let alimento">{{alimento.marca}}</td>
            </ng-container>
        
            <ng-container matColumnDef="tabNutritional">
                <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                <td mat-cell *matCellDef="let alimento">{{alimento.tabNutritional}}</td>
            </ng-container>
        
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let alimento">{{alimento.status}}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let alimento" align="end">                   
                    <button mat-stroked-button class="float-right" color="primary" (click)="openEditDialog(alimento)">Editar</button>
                    <button mat-stroked-button class="float-right" color="primary" (click)="excluir(alimento)">Excluir</button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let alimento; columns: displayedColumns"></tr>
        </table>
    </div>
</div>


